<!DOCTYPE html>
<html ng-app="selector">
<head>
	<title>selector</title>
	<script src="bower_components/angular/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
	<link rel=¨stylesheet¨ type=¨text/css¨ href=¨./style.css¨>
	<script src="./scripts.js"></script>
<!-- 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script> -->

</head>
<body>
	<style type="text/css">

	.main {
		font-size: 1.3em;
		text-align: center;
	}
	#no {
		width:30px;
		margin-bottom: .7em;
	}
	#area {
		width: 80vw;
	    height: 20vh;
	    margin-right: 10vw;
	    margin-left: 10vw;
	    font-size: 1.3em;
	    margin-bottom: .7em;
	}
	#heading {
		margin-bottom: .7em;
		text-align: center;
		font-size: 1.3em;
	}
	#choice {
		margin-bottom: .7em;
		text-align: center;
		font-size: 1.3em
	}
</style>
	<div class="main" ng-controller="ListController as listCtrl">
		<textarea id="area" ng-model=listCtrl.array placeholder="List Names Here Separated By Commas">{{listCtrl.array}}</textarea><br>
		<h2 id="heading">Do you want to choose a number of teams or number of people per group?</h3>
		<div id="choice"><input type="radio" ng-model=listCtrl.listType ng-change="setValue()" ng-model="listCtrl.value" value="teams">Teams   <input type="radio" ng-model=listCtrl.listType ng-change="setValue()" ng-model="listCtrl.value" value="groups">Small Groups</div>
		<input type="number" name="input" id="no" ng-model=listCtrl.num>{{listCtrl.text}}<br>

		<button ng-click='generate()'>Push Me</button>
		<span>{{listCtrl.finalArray}}</span>
	</div>
</body>
</html>
